.cta {
    min-height: 512px;
    background-color: $back1;

    
    &-grid {
        display: grid;
        grid-template-columns: 24px 18em;
        grid-column-gap: 4px;
        grid-row-gap: 8px;
    }


        

    &-block {
        margin-top: 48px;
        background-color: $actionback;
        border-radius: 20px;
        min-height: 416px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .cta-circle1 {
            position: absolute;
            left: -180px;
            top: -200px;
            background: rgba(255, 255, 255, 0.08);
            border-radius: 100%;
            width: 532px;
            height: 532px;
        }

        .cta-circle2 {
            position: absolute;
            right: -140px;
            bottom: -220px;
            background: rgba(255, 255, 255, 0.08);
            border-radius: 100%;
            width: 532px;
            height: 532px;
        }

        &-title {
            margin-top: 64px;
            margin-bottom: 24px;
            font-weight: 700;
            font-size: 50px;
            line-height: 61px;
            text-align: center;
            color: white;
        }

        &-icon {
            width: 24px;
            height: 24px;
        }

        &-option {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            color: white;
        }

        &-btn {
            @include FlexCenter();
            background-color: $back1;
            width: 160px;
            height: 51px;
            border-radius: 66px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: $footeremail;
            margin-top: 32px;
            z-index: 1;
            margin-bottom: 48px;
        }
    }

    &-row {
        display: flex;
        flex-direction: row;
        margin-right: -80px;
    }
}


@media screen and (max-width: 500px) {
    .cta-block-btn {
        width: calc(100% - 52px);
    }

    .cta-block {
        min-height: 363px;
        border-radius: 0;

        &-title {
            margin-top: 48px;
            font-size: 30px;
            line-height: 40px;
            letter-spacing: -0.02em;
        }
    }

    .cta-grid {
        grid-template-columns: 24px 284px;
    }

    .cta {
        .container {
            padding: 0px;
        }
    }
}

@media screen and (max-width: 680px) {
    .cta-row {
        margin-right: -10;
        flex-direction: column;
    }
}